@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


.App {
  font-family: "Lexend", sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  padding: 2rem;
  width: calc(100vw - 6rem);
}

/* -------------filters--------------- */
.searchbar {
  width: 100%;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.filters {
  min-width: 18%;
}


/* ----------------job Cards---------------- */
.card-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 1rem;
  max-width: calc(350px - 2rem);
  border-radius: 1rem;
}

.chip {
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: calc(120px - 1rem);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 1rem;
  font-weight: 400;
  font-size: 9px;
  color: rgba(60, 60, 60, 0.87);
}

.company {
  margin: 1rem 0;
  display: flex;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
}

.logo img {
  width: 100%;
  height: 100%;
}

.info-div {
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name,
.exp-name {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #8b8b8b;
  text-decoration: none;
}

.name:hover {
  text-decoration: underline;
  text-decoration-color: #8b8b8b;
}

.role {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.87);
  text-transform: capitalize;
}

.location {
  font-size: 11px;
  font-weight: 400;

}

.salary,
.jd {
  font-size: 0.8rem;
  font-weight: 300;
  color: rgb(97, 97, 97);
}

.job-disc {
  margin: 1rem 0;
  z-index: 1;
}

.jd {
  overflow-y: hidden;
  height: 145px;
  padding-bottom: 0.5rem;
  mask-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.more {
  color: rgb(47, 47, 218);
  font-weight: 300;
  text-align: center;
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
  cursor: pointer;

}

.btn-div {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btn-div button {
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.apply {
  background-color: rgb(85, 239, 196);
  color: black;
}

.referral {
  background-color: #1a73e8;
  color: white;
}

/* -------------media querries----------------- */

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

@media screen and (max-width: 1600px) {
  .card {
    max-width: calc(23% - 2rem);
  }
}

@media screen and (max-width: 1300px) {
  .card {
    max-width: calc(30% - 2rem);
  }

  .filters {
    min-width: 30%;
  }
}

@media screen and (max-width: 950px) {
  .card-container {
    justify-content: center;
  }

  .card {
    max-width: calc(45% - 2rem);
  }

  .filters {
    min-width: 45%;
  }

}

@media screen and (max-width: 700px) {
  .card {
    max-width: calc(380px - 2rem);
  }

}

@media screen and (max-width: 550px) {
  .filters {
    min-width: 100%;
  }
}